/* styles.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background: linear-gradient(to right, #add8e6, #a8f1a8); 
  
}

.logo {
  display: flex;
  align-items: center;
}

input[type="number"] {
  border-radius: 8px; 
  padding: 4px; 
  width: 50%; 

}

.logo p {
  color: green; 
  font-weight: bold; 
  font-size: 20px; 
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: green;
  text-decoration: none;
}

button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

select {
  border-radius: 8px; 
  padding: 4px; 
  font-size: 14px; 
  background-color: white; 
  margin-top: 10px; 
  margin-bottom: 10px;
  
}
.page-content{
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: left;

}

.label {
  margin-right: 10px; 
}

.select {
  margin-right: 10px; 

}
.container > div > * {
  margin-left: 10px; 
}
.mode-container{
  display: flex;
  align-items: center;
}
.page-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  align-items: flex-start; /* Adjust this as needed */
}

.page-content {
  width: 70%;
}
.icon-container {
  display: flex;
}

.icon-container > * {
  margin-right: 10px; /* Add right margin between icons */
}

/* Add any other styles as needed */
